---
---

@import "{{ site.theme }}";
body {
      font-family: "Times New Roman", Times, serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: -1px;
}
.inner {
  max-width: 75%;
}

.graph-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}


.graph-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
